.header {
  width: 100%;
  /* background-color: grey; */
  background-color: blue;
  text-align: center;
  border-radius: 30px;
  padding: 10px 0;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  color: white;
}
.wrapper {
  width: 80%;
  /* margin: 0 auto; */
  margin: 15px auto;
}

.inside_wrapper {
  /* border: 1px solid black; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 25px;
  border-radius: 30px;
  padding: 15px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
