/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/* Dynamic */
.client-a {
  background-color: blue;
}
.client-b {
  background-color: green;
}
.client-c {
  background-color: red;
}
.client-aback {
  background-color: white;
}
.client-bback {
  background-color: rgb(184, 183, 183);
}
.client-cback {
  background-color: beige;
}
